form {
  display: flex;
  justify-content: space-around;
  gap: 60px;
  background-color: lightgray;
  object-fit: contain;
  text-align: left;
  margin: 20px;
  padding: 30px 0px;
}
.left{
  display: inline-block;
}
.submit{
  margin-top: 30px;
}
input[type='submit'] {
  width: 170px;
  cursor: pointer;
  background-color: green;
  border-radius: 2px;
  padding: 7px 7px;
}

.create-btn, .home-btn{
  text-decoration: none;
  padding: 5px;
  background-color: lightblue;
  box-shadow: 5px 5px black;
}
.link-home{
  text-align: right;
  margin: 20px;
}
a:visited{
  color: black;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}